body {
	font-family: Arial;
	color: #9C9C9C;
	background-color:  #FFFFFF;
}
h1, h2 {
	color: #FFCC00; 
	text-shadow: 1px 1px 2px #000000;

}

span.rosa {
	color: #ff00ff;
	font-weight: bold;
}

div.galeria{
	width: 1300px;
	height: 300px;
	text-align: center;
	margin: auto;
	padding-left: 50px;
	padding-top: 10px;


}

div.galeria div{
	border: 2px solid red;
	width: 300px;
	height: 250px;
	float: left;
	margin-right: 20px;
}



#item1 {
	background: url(images/foto1.jpg) no-repeat center;
	background-size: 450px;
}
#item2 {
	background: url(images/foto2.jpg) no-repeat center;
	background-size: 350px;
}

#item3 {
	background: url(images/foto3.jpg) no-repeat center;
	background-size: 400px;
}
#item4 {
	background: url(images/foto4.jpg) no-repeat center;
	background-size: 400px;
}

div.galeria div:hover{
	height: 300px;
	box-shadow: 10px 10px 40px #08410B;
	background-size: 0px;

}

#menu {
	background-color:  #219E2A;
	width: 80%;
	text-align: center;
	margin: auto;
	border: 2px solid;
	border-radius: 25px;
	box-shadow: 10px 10px 40px #08410B;

}

#menu li {
	display: inline;
}

#menu li a{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	margin-right: 40px;
	padding: 5px;
}

#menu li a:hover{
	background-color: #FFCC00;
	padding-top: 20px;
	padding-bottom: 20px; 	
}

#colum_drch {
	width: 100%;
	text-align: center;
	
}

#colum_drch h2 {
	color: #FFCC00;
}
#contenido {
	width: 100%;
	text-align: center;
}

#principal{
text-align: center;
}

img {
	width: 100%;
	vertical-align: middle;
}
/* Para las imagenes del menu */
.miniatura{
	width: 20%;
}

#colum_drch img:hover{
	width: 25%;	
}

#badge {
	position: absolute;
	top: 150px;
	right: 60px;
	width: 100px;
	z-index: 0;
}

