body {
	font-family: Arial;
	color: #FFFFFF;
	background-color:  #000000;
	background: url("images/2194704738_3b8c96927e_o.jpg");
	background-size:1920px;
	background-attachment:fixed;
}
h1,h2 { color: #FF00BF;
	text-shadow:1px 1px 2px #000000;
 }
.rosa{
	color: #FFFFFF;
	font-weight: bold;
}
div.galeria{
	/*border: 2px solid 	red;*/
	width: 1300px;
	height: 350px;
	text-align: center;
	margin: auto;
	padding-left:50px;
	padding-top: 20px;
}

div.galeria div{
	/*border: 2px solid red;*/
	width:300px;
	height:300px;
	float:left;
	margin-right: 20px;
}
#item1{
	background: url(images/big-thunder-mountain.jpg) no-repeat center;
	background-size:500px;
}
#item2{
	background: url(images/o-DISNEYLAND-RIDES-CLOSE-facebook.jpg) no-repeat center;
	background-size:450px;
}
#item3{background: url(images/BeautyandtheBeast.jpg) no-repeat center;
	background-size:350px;
}
#item4{background: url(images/disneyland-e1322221701908.jpg) no-repeat center;
	background-size:450px;
}

#menu {
	background-color:  #F6CEEC;
	width: 80%;
	text-align: center;
	margin: auto;
	border: 2px solid;
	border-radius: 25px;
	
}

#menu li {
	display: inline;
}

#menu li a{
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	margin-right: 40px;
	padding: 5px;
}

#menu li a:hover{
	background-color: #FF00BF;
	padding-top: 20px; 	
	padding-bottom: 20px;
}

#colum_drch {
	width: 100%;
	text-align: center;
	
}

#colum_drch h2 {
	color: #FF00BF;
}
#contenido {
	width: 50%;
	text-align: center;
	margin: auto;
}
#principal{
	text-align: center;
	margin: auto;
}


img {
	width: 100%;
	vertical-align: middle;
}

.miniatura{
	width: 20%;
}

#colum_drch img:hover{
	width: 25%;	
}

#badge {
	position: absolute;
	top: 50px;
	right: 60px;
	width: 100px;
}

