body {
	font-family: Arial;
	color: #eee;
	background-image: url('images/background.jpg');
}
h1 { color: #FFCC00; }

#transparencia {
	position: absolute;
	opacity: 0.75;
	background-color: #505050;
	width: 99%;
	height: 85px;
    border-radius: 5px;	
	z-index: -1;
}

#menu {
	background-color:  #FFCC00;
	width: 100%;
	text-align: center;
	
}

#menu li {
	display: inline;
}

#menu li a{
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-right: 40px;
	padding: 5px;
}

#menu li a:hover{
	background-color: #A1A1A1;
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 10px;
	padding-right: 10px;
    border-radius: 5px;	
	color: white;
}

#colum_drch {
	width: 100%;
	text-align: center;
	
}

#colum_drch h2 {
	color: #FFCC00;
}
#contenido {
	width: 100%;
	text-align: center;
}

#principal {
	text-align: center;
}

img {
	width: 100%;
	vertical-align: middle;
}

.miniatura{
	width: 20%;
}

#colum_drch img:hover{
	width: 25%;	
}

#badge {
	position: absolute;
	top: 50px;
	right: 60px;
	width: 100px;
}

#p {
	font-weight:bold;
	color:white;
	letter-spacing:2pt;
	word-spacing:2pt;
	font-size:15px;
	text-align:left;
	font-family:verdana, sans-serif;
	line-height:1;

}
